  <p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label :address, "Network Address" %><br />
  <%= f.text_field :address, :size => 20 %>
  </p>  
  <p>
  <%= f.label :netmask, "Network Mask" %><br />
  <%= f.text_field :netmask, :size => 20 %>
  </p>  
  <p>
  <%= f.label :interface, "Network Interface" %><br />
  <%= f.text_field :interface, :size => 20 %>
  </p>  
  <p>
  <%= f.label :range_start, "Starting IP in DHCP Range" %>
  <%= f.text_field :range_start, :size => 4 %><br />
  <%= f.label :range_end, "Last IP in DHCP Range" %>
  <%= f.text_field :range_start, :size => 4 %>
  </p>  
