  <p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label :host, "Host Name" %><br />
  <%= f.text_field :host, :size => 12 %>
  </p>  
  <p>
  <%= f.label :ip_address, "IP Address" %><br />
  <%= f.text_field :ip_address, :size => 18 %>
  </p>  
  <p>
  <%= f.label :mac_address, "Mac Address" %><br />
  <%= f.text_field :mac_address, :size => 20 %>
  </p>  
  <p>
  <%= f.label :vendor_id, "Vendor" %><br />
  <%= f.select :vendor_id, @vendors.collect {|v| [v.name, v.id] } %>
  </p>  

  <%= f.hidden_field :network_id, :value => @network.id %>
