<% content_for :title do %>
 IP Administrator | Network | Edit Device
<% end %>
<h2>Edit device</h2>

<h3>
<%= link_to "Network #{@network.address}", network_path(@network) -%> </p> 
</h3>

<%= link_to "Device list", network_devices_path(@network) -%> </p> |
<%= link_to "Delete device", network_device_path(@network, @device), :method => :delete -%> </p>

<% form_for [@network, @device] do |f|%>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => {:f => f } %>
  <p class="button"> <%= f.submit "Update" %> </p>
<% end -%>
