<% content_for :title do %>
 IP Administrator | Network | Devices
<% end %>
<%= flash[:notice] %>
  <h2> <%= link_to "Network #{ @network.address}", network_path(@network) -%> </h2>
<h3>Devices list</h3>
<hr/>
  <table id="devices">
    <thead>
      <tr>
      <th> Name </th> 
      <th> Host Name </th> 
      <th> IP Address </th> 
      <th> Mac Address </th> 
      <th> Vendor </th> 
      <th> &nbsp; </th> 
    </tr>
    </thead>
    <tbody>
    <% @discoverer.each do |a| %>
      <tr style='color: <%= Device.colors(a.last[:vendor_name])%>;'>
        <td> <strong> <%=h a.last[:name] %> </strong> </td>
        <td> <strong> <%=h a.last[:host] %> </strong> </td>

        <% device = @devices.select {|d| d.ip_address == a.first}.first %>
        <% unless device.nil? %>

          <td> <a href="http://<%= a.first -%>"> <%= a.first -%> </a> </td>
        <td> <strong> <%= a.last[:mac_address] %> </strong> </td>
        <td> <strong> <%= a.last[:vendor_name] %> </strong> </td>
        <td> <%= link_to 'edit', edit_network_device_path(@network, device) %> </td>

        <% else %>  

          <td> <%= a.first %> </td>
          <td> <%= a.last[:mac_address] %> </td>
          <td> <%= a.last[:vendor_name] %> </td>

          <td> 
          <% form_tag new_network_device_path(@network.id), :method => :get do%>
            <%= hidden_field_tag "device[mac_address]", a.last[:mac_address] %>
            <%= hidden_field_tag "device[vendor_name]", a.last[:vendor_name] %>
            <%= hidden_field_tag "device[ip_address]",  a.first %>
            <p class="button"><%= submit_tag 'Register Device' %></p>
          <% end -%>
          </td>
        <% end %>  

      </tr>
    <% end %>
    </tbody>
  </table>
