<% content_for :title do %>
 IP Administrator | Networks | New Device
<% end %>
<%= flash[:notice] %>
<h2>New device</h2>

<h3>
<%= link_to "Network #{@network.address}", network_path(@network) -%> </p> 
</h3>

<% form_for ([@network, @device]), :method => :post do |f|%>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => {:f => f } %>
  <p class="button"> <%= f.submit "Create" %> </p>
<% end -%>
